---
BasedOnStyle: WebKit
AlignAfterOpenBracket: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
ForEachMacros: ['FOR_EACH']
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
SpacesInParentheses: true
Standard: Auto
TabWidth: 4
UseTab: Always
